<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODOリスト</title>

	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/reset.css">
</head>
<body>
	<div id="app">
		<h1>TODOリスト</h1>

		<form @submit.prevent>
			<fieldset>
				<label>タスク名：</label>
				<input type="text" v-model="newTodo">
				<br>

				<label>内容：</label>
				<textarea cols="50" rows="5" v-model="newText"></textarea>
				<br>

				<label>期限：</label>
				<input type="number" name="year" id="year" size="8" maxlength="4" v-model.number="newLimit.year" min="2020" max="2025">年
				<input type="number" name="month" id="month" size="4" maxlength="2" min="1" max="12" v-model.number="newLimit.month">月
				<input type="number" name="day" id="day" size="2" maxlength="2" min="1" max="31" v-model.number="newLimit.date">日

				<button @click="addTodo" class="add-btn">追加</button>
			</fieldset>

			<fieldset>
				<h2>検索</h2>
				<p>
					<h3>期間</h3>
					<select name="filterDateYearStart" v-model="filterDateStart.year">
						<option value="2020">2020</option>
						<option value="2021">2021</option>
						<option value="2022">2022</option>
						<option value="2023">2023</option>
						<option value="2024">2024</option>
						<option value="2025">2025</option>
					</select>年

					<select name="filterDateYearMonth" v-model="filterDateStart.month">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>月

					<select name="filterDateDayStart" v-model="filterDateStart.date">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>日　〜

					<select name="filterDateYearEnd" v-model="filterDateEnd.year">
						<option value="2020">2020</option>
						<option value="2021">2021</option>
						<option value="2022">2022</option>
						<option value="2023">2023</option>
						<option value="2024">2024</option>
						<option value="2025">2025</option>
					</select>年

					<select name="filterDateMonthEnd" v-model="filterDateEnd.month">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>月

					<select name="filterDateDayEnd" v-model="filterDateEnd.date">
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
						<option value="13">13</option>
						<option value="14">14</option>
						<option value="15">15</option>
						<option value="16">16</option>
						<option value="17">17</option>
						<option value="18">18</option>
						<option value="19">19</option>
						<option value="20">20</option>
						<option value="21">21</option>
						<option value="22">22</option>
						<option value="23">23</option>
						<option value="24">24</option>
						<option value="25">25</option>
						<option value="26">26</option>
						<option value="27">27</option>
						<option value="28">28</option>
						<option value="29">29</option>
						<option value="30">30</option>
						<option value="31">31</option>
					</select>日
				</p>

				<p>
					<label for="filterYet">未着手</label>
					<input type="checkbox" name="status" value="未着手" id="filterYet" v-model="filterCheck">
					<label for="filterProgress">進行中</label>
					<input type="checkbox" name="status" value="進行中" v-model="filterCheck">
					<label for="filterDone">完了</label>
					<input type="checkbox" name="status" value="完了" id="filterDone" v-model="filterCheck">
				</p>

				<button @click="filterTodo">検索</button>
			</fieldset>

			<table>
				<thead>
					<tr>
						<th>
							<button @click="sortClickId">{{ sortIdText }}</button>
						</th>
						<th></th>
						<th></th>
						<th>
							<button @click="sortClickFastLimit">期限が早い順に変更</button><br>
							<button @click="sortClickLastLimit">期限が遅い順に変更</button>
						</th>
						<th></th>
						<th></th>
						<th></th>
						<th></th>
					</tr>
					<tr>
						<th>No.</th>
						<th>タスク名</th>
						<th>内容</th>
						<th>期限</th>
						<th>ステータス</th>
						<th>作成日</th>
						<th>更新日</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr v-for="(todo, index) in processTodos" :class="{done: todo.isDone, progress: todo.isProgress}">
						<td>{{todo.id}}</td>
						<td>{{todo.title}}</td>
						<td>{{todo.text}}</td>
						<td>{{todo.limits}}</td>
						<td>
							<input type="radio" :name="todo.radioName" value="未着手" :id="todo.radioYet" v-model="todo.status" @change="radioChange(index)">
							<label :for="todo.radioYet">未着手</label>

							<input type="radio" :name="todo.radioName" value="進行中" :id="todo.radioProgress" v-model="todo.status" @change="radioChange(index)">
							<label :for="todo.radioProgress">進行中</label>

							<input type="radio" :name="todo.radioName" value="完了" :id="todo.radioDone" v-model="todo.status" @change="radioChange(index)">
							<label :for="todo.radioDone">完了</label>
						</td>
						<td>{{todo.createTime}}</td>
						<td>{{todo.editTime}}</td>
						<td>
							<button @click="showComment(index)">コメント</button>
							<button @click="editShow(index)">編集</button>
							<button @click="deleteTodo(index)">削除</button>
						</td>
					</tr>
				</tbody>
			</table>

			<fieldset v-show="isEdit" style="margin-top: 30px;">
				<label>タスク名：</label>
				<input type="text" v-model="editTodo">
				<br>

				<label>タスク名：</label>
				<textarea cols="30" rows="10" v-model="editText"></textarea>

				<label>期限：</label>
				<input type="number" name="year" id="year" size="8" maxlength="4" v-model.number="editLimit.year" min="2020" max="2025">年
				<input type="number" name="month" id="month" size="4" maxlength="2" min="1" max="12" v-model.number="editLimit.month">月
				<input type="number" name="day" id="day" size="2" maxlength="2" min="1" max="31" v-model.number="editLimit.date">日

				<button @click="changeTodo(editIndex)" class="change-btn">変更</button>
			</fieldset>

			<modal-component
			:post-index="postIndex"
			:comment-list="commentList"
			:todos="todos"
			@commentAddTodos="todos"></modal-component>
		</form>

		<pre style="margin-top: 100px;">{{$data}}</pre>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
	<script src="js/main2.js"></script>
</body>
</html>